@font-face {
  font-family: 'Lao';
  src: url('../assets/fonts/Noto_Sans_Lao/NotoSansLao-VariableFont_wdth,wght.ttf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
  font-weight: normal;
  font-display: swap;
}
