:root {
  --primary:#081A51;
  --secondary: #33437E;
  --background: #ECEEF9;
  --card-background: #FFFFFF;
  --card-background-secondary: #F7F9FB;

  --text-primary: #364E65;
  --text-secondary: #FFFFFF;
  --text-light: #8f959b;
  --text-link: #3d58f1;
  --text-error: red;
  --success: #30D988;

  --chat-bg: #d9fdd2;

  --icon-primary: #D0D1D2;
  --icon-secondary: #11263C;
  --border-light: #D7E4F3;
  --border-dark: #D7E4F3;
  --shadow: #00000014;
  --placeholder: #B3BFD1;

  --l-green-dark: #61D800;
  --l-green: #75E900;
  --l-green-light: #90EE02;
  --l-red-dark: #DD0074;
  --l-red-light: #EE0290;
  --l-blue-light: #29B6F6;
  --l-blue: #4FC3F7;
  --l-blue-dark: #81D4FA;
}



