.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px;

  .icon {
    margin-right: 15px;
  }

  &:hover {
    background-color: var(--secondary);
  }
}




@media (max-width: 767px) {
  .menu {
    .title {
      display: none;
    }
  }
}
