  <div class="loader-container" >
      <div class="row">
        <div class="box" id="left" [ngStyle]="{'background-color': colorList[0]}"></div>
        <div class="box" id="two" [ngStyle]="{'background-color': colorList[1]}"></div>
        <div class="box" id="right" [ngStyle]="{'background-color': colorList[2]}"></div>
      </div>
      <div class="row mid">
        <div class="box" id="left" [ngStyle]="{'background-color': colorList[3]}"></div>
        <div class="box" id="right" [ngStyle]="{'background-color': colorList[4]}"></div>
      </div>
      <div class="row">
        <div class="box" id="left" [ngStyle]="{'background-color': colorList[5]}"></div>
        <div class="box" id="eight" [ngStyle]="{'background-color': colorList[6]}"></div>
        <div class="box" id="right" [ngStyle]="{'background-color': colorList[7]}"></div>
      </div>
  </div>
