.loader-container {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 45px;

  .box {
    width: 15px;
    height: 15px;
  }

  .row {
    display: flex;
  }

  .mid {
    display: flex;
    justify-content: space-between;
  }

  #left {
    border-radius: 15px 0 0 15px;
  }

  #right {
    border-radius: 0 15px 15px 0;
  }

  .text {
    margin-top: 10px;
    text-align: center;

  }
}
